body {
  font-weight: 300;
  font-size: 1rem;
  margin: 1rem;
}

.navbar{
  position: fixed;
  height: 5rem;
  line-height: 5rem;
  font-family: Heebo;
  font-color: blue;
  padding: 2rem;
}

.navbarlink{
  font-size: 2rem;
}

.maincontent {
  display: flex;
  align-items: center;
  background-color: purple;
  background-size: cover;
  padding: 2rem;
  height: 100rem;
}

.container-fluid p {

}

.container-fluid img {
  display: block;
  margin: 2rem;
}

footer {
  background-color: white;
  height: 5rem;
  line-height: 5rem;
}

footer .col-sm-4 {
  display: flex;
  justify-content: center;
}

footer ul {
  list-style: none;
}

footer li img {
  width: .5rem;
  height: .5rem;
}
