body {
  font-weight: 300;
  font-size: 10px;
}

.navbar{
  position: fixed;
  height: 12.5%
  line-height: 12.5%
  font-family: Heebo;
}


.maincontent {
  display: flex;
  align-items: center;
  background-color: purple;
  background-size: cover;
  padding: 20px;
  height: 75%;
}

.container-fluid p {

}

.container-fluid img {
  display: block;
  margin: 20px;
}

footer {
  background-color: white;
  height: 12.5%
  line-height: 12.5%
}

footer .col-sm-4 {
  display: flex;
  justify-content: center;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}
