* {
  font-family: Heebo;
}

body {
  font-weight: 300;
  font-size: 1rem;
}

p {
  padding: 1rem;
}

.navbar{
  position: fixed;
  height: 5rem;
  line-height: 5rem;
  font-family: Heebo;
  padding: 0;
  font-weight: bold;
  margin: 0;
  z-index: 999;
}

.breadcrumb{
  height: 5rem;
  line-height: 5rem;
  margin-bottom: 0;
}

.maincontent {
  background-color: lightskyblue;
  background-size: cover;
  padding: 2rem;
  padding-top: 7rem;
}

.btn{
  align-items: stretch;
  border-radius: 11%;
  font-size: 12vw;
  padding: 1vw;
  margin: 1%;
  border-width: 1vw;
  box-shadow: 0.5vw -0.5vw, 0.25vw -0.25vw, .75vw -.75vw,.125vw -.125vw;

}

.container-fluid img {
  display: block;
  margin: 2rem;
}

footer {
  background-color: white;
  height: 5rem;
  line-height: 5rem;
  margin-bottom: 0;
}

footer .col-sm-4 {
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

footer p a{
  text-decoration: none;
  color: black;
}

footer .col-sm-4 :not(:first-child) {
  border-left-color: black;
  border-left-width: .5rem;
}

footer ul {
  list-style: none;
  flex-direction: column;
}
