* {
  font-family: Heebo;
}

body {
  font-weight: 300;
  font-size: 1rem;
}

.navbar{
  position: fixed;
  height: 5rem;
  line-height: 5rem;
  font-family: Heebo;
  color: blue;
  padding: 0;
  font-weight: bold;
  margin: 0;
  z-index: 999;
}

.navbarlink{
  font-size: 2rem;
}

.maincontent {
  align-items: center;
  background-color: lightskyblue;
  background-size: cover;
  padding: 2rem;
  padding-top: 5rem;
}

.btn{
  align-items: stretch;
  border-radius: 11%;
  font-size: 12vw
  padding: 1vw;
  margin: 1%;

}

.container-fluid img {
  display: block;
  margin: 2rem;
}

footer {
  background-color: white;
  height: 5rem;
  line-height: 5rem;
}

footer .col-sm-4 {
  display: flex;
  justify-content: center;
}

footer ul {
  list-style: none;
}

footer li img {
  width: .5rem;
  height: .5rem;
}
