* {
  font-family: Heebo;
  line-height: 1.5;
box-sizing: inherit;
  font-size:.9rem;
}

a {
      text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#headtitle {
    font-size:2.2rem;
    font-weight:700;
    margin: 1rem;
}

body {
    background-color: white;
    margin: 0;
  }

  ul {
    list-style: none;
    text-indent: -1em;
  }

  .classification {
    border : 1px #ccc solid;
    border-radius: 4px;
    padding: 3px 3px 3px 5px;
    margin-bottom: 1em;
    text-decoration: none;
    font-size: .9rem;
    display:block;
  }

.classtext {
    display: inline-block;
    border: 0;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: inherit;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.classification span {
  list-style-type: disc;
  margin-bottom: 0;
    padding-left: 0;
    margin-top: 0;
      display: inline-block;
}

  #wiki-macro-toc {
    border: 1px #ccc solid;
    width : 350px;
    margin-bottom: 1rem;
      margin-left: 5px;
      padding: 12px 20px 18px 0;
    font-size: .9rem;
    display: inline-block;
  }

#toc {
    font-size: 1.25em;
    margin-left: 14px;
  display:block;
}

#toc-indent:first-of-type {
    margin-top: 12px;
    padding-left: 20px;
  display:block;
}

#toc-indent {
  padding-left:20px;
  display: block;
}

#toc-indent span{
  display:block;
}

.heading{
  font-size: 1.8em;
  font-weight: 700;
  margin: 1.2em 0 .8em;
  border-bottom:1px solid #ccc;
  padding-bottom: 5px;
}

.heading2{
  font-size: 1.6em;
  font-weight: 700;
  margin: 1.2em 0 .8em;
  border-bottom:1px solid #ccc;
  padding-bottom: 5px;
}

.heading:before {
  float: left;
    font-family: Ionicons;
    font-weight: 400;
    font-size: .8em;
    line-height: 1.8em;
    text-align: center;
    margin: 0 .5rem 0 .2rem;
    width: .9em;
    color: #666;
    content: url('https://api.iconify.design/ion/chevron-down-outline.svg');
}

.heading a{
  color: #0275d8;
  font-size: 1em !important;
  font-weight: 700;
}

  button {
    background: transparent;
    border: transparent;
  }

  button:hover, button:focus{
    border: transparent;
  }

  .blockquote {
    margin: 1em 0;
    background: #eee;
    display: table;
    border: 2px dashed #ccc;
    border-left: 5px solid #71bc6d;
    padding: 1em calc(2em + 25px) 1em 1em;
  }

.blockquote hr {
  margin: .5em 0;
    height: 0;
    box-sizing: content-box;
    border: 0;
    border-top: .0625rem solid #ccc;
}

.lastpara {
  margin-bottom: 1rem;
}

.bullets {
      margin: .4em 0 .4em 1.5em;
  padding-left: .5rem;
}

.bullets::marker {
  unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}

.tablewrap {
  margin: 10px auto;
  display: block;
    max-width: 100%;
    overflow-x: auto;
}

.table {
  margin: auto;
  border-collapse: collapse;
  display: table;
  text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

tbody{
      display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr{
  display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
td{
  padding: 5px 10px;
  display: table-cell;
    vertical-align: inherit;
}

iframe{
      display: block;
    max-width: 100%;
      border-style: inset;
    border-color: initial;
    border-image: initial;
}
