* {
  font-family: Heebo;
    text-decoration: none;
  padding: .7rem;
}

#headtitle {
    font-size:2.2 rem;
    font-weight:700;
    margin: 1rem;
}

body {
    background-color: white;
    margin: 0;
  }

  ul {
    list-style: none;
    text-indent: -1em;
  }

  .classification {
    border : 1px #ccc solid;
    border-radius: 4px;
    padding: 3px 3px 3px 5px;
    margin-bottom: 1em;
    text-decoration: none;
    font-size: .9rem;
      
  }

  #wiki-macro-toc {
    border: 0.5px #ccc solid;
    width : 350px;
    margin-bottom: 1rem;
      margin-left: 5px;
      padding: 12px 20px 18px 0;
    font-size: .9rem;
  }

#toc {
    font-size: 1.25em;
    margin-left: 14px;
}

#numbertoc {
    margin-top: 12px;
    padding-left: 20px;
}


  button {
    background: transparent;
    border: transparent;
  }

  button:hover, button:focus{
    border: transparent;
  }

  .subtitle {
      margin: 1.2em 0 .8em;
    font-size: 1.6em;
    border-bottom: 1px #ccc solid;
    padding-bottom: 5px;
  }

  .memo {
    display: inline-block;
    border: 1px gray dashed;
    border-left : 3px green solid;
    background-color: #eeeeee;
    margin: 10px;
    padding: 10px 40px 10px 20px;
  }
