html {
	 --main-bg-color: #121212;
	 --main-font-color: #b9b5b5;
	 --main-highlight-color: #fff;
	 --main-link-active-color: #fff;
	 --main-border-color: #808080 4d;
	 --activity-bg-color: #000;
	 --footer-height: 50px;
	 --main-bg-color-dark: #181818;
}
 * {
	 box-sizing: border-box;
}
 html, body {
	 height: 100%;
	 
}
 body {
	 font-family: 'Lato', Arial, sans-serif;
	 line-height: 1.4;
	 font-size: 14px;
	 color: var(--main-font-color);
	 
}
 img {
	 max-width: 100%;
	 height: auto;
}
 ul {
	 list-style-type: none;
}
 h1, h2, h3 {
	 font-weight: 400;
	 margin: 0;
	 color: var(--main-highlight-color);
}
 .button {
	 padding: 15px 10px;
	 background: transparent;
	 border: 1px solid var(--main-font-color);
	 border-radius: 20px;
	 color: var(--main-font-color);
	 text-transform: uppercase;
	 font-size: 12px;
	 transition: all 0.3s;
	 letter-spacing: 1.2px;
}
 .button:hover {
	 background: #fff;
	 a {
		 color:#000;
	 }
	 border: 1px solid #fff;
}
 .link {
	 display: inline-block;
	 color: var(--main-font-color);
	 
	 text-decoration: none;
	 transition: all 0.5s;
}

 .link:not(.sidebar a) {
	 padding: 5px;
}

 .link:visited, .link:focus .link:hover, .link:active {
	 color: var(--main-font-color);
}
 .link:hover, .link:active, .link:focus, .sidebar__main-links li:hover, .sidebar__music:hover, .sidebar__playlists:hover {
	 color: var(--main-link-active-color);
}
 .wrapper {
	 display: grid;
	 background: var(--main-bg-color);
	 grid-gap: 10px;
	 min-height: 100vh;
	 grid-template-columns: 100%;
	 
}

.modal{
	color:black;
}

.modal-footer{
	justify-content:right;
}

 @media (min-width: 800px) {
	 .wrapper {
		 grid-template-columns: 200px auto;
	}
}
 @media (min-width: 1200px) {
	 .wrapper {
		 grid-template-areas: "sidebar main social";
	}
}
 .sidebar {
	 background: var(--activity-bg-color);
	 padding-top:2rem;
}
 .sidebar li, .sidebar li a, .activity li {
	 line-height: 2;
}

.activity ul{
	padding-left:0;
}

 .sidebar__header, .sidebar__header a {
	 margin-bottom: 5px;
}
 .sidebar__header, .sidebar__header a{
	 text-transform: uppercase;
	 font-weight: 300;
	 font-size: 12px;
	 letter-spacing: 1.2px;
}
 main {
	 padding: 3rem 2rem 7rem;
}
 @media (min-width: 800px) {
	 main {
		 padding: 3rem 2rem calc(var(--footer-height) + 40px);
		 margin-bottom: 20px;
	}
}
 .main__header h1 {
	 margin-bottom: 20px;
	 font-size: 38px;
}
 .main__nav {
	 margin-bottom: 30px;
	 border-bottom: 1px solid var(--main-border-color);
	 display: grid;
	 grid-auto-flow: column;
	 justify-content: start;
	 grid-gap: 10px;
}
 .main__nav .link {
	 text-transform: uppercase;
	 font-weight: 300;
	 font-size: 12px;
	 letter-spacing: 1.2px;
	 font-size: 13px;
	 border-bottom: 2px solid transparent;
	 padding-bottom: 11px;
}
 .main__nav .link.is-active {
	 color: var(--main-link-active-color);
	 border-bottom: 3px solid #1DB954;
}
 .main__nav .link:nth-of-type(2), .main__nav .link:nth-of-type(3), .main__nav .link:nth-of-type(4), .main__nav .link:nth-of-type(5) {
	 display: none;
}
 @media (min-width: 800px) {
	 .main__nav .link:nth-of-type(2), .main__nav .link:nth-of-type(3), .main__nav .link:nth-of-type(4), .main__nav .link:nth-of-type(5) {
		 display: inline;
	}
}
 .main__playlists h2 {
	 font-size: 20px;
	 margin-bottom: 20px;
	 padding-bottom: 10px;
	 border-bottom: 1px solid var(--main-border-color);
}
 .music__list {
	 display: grid;
	 grid-template-columns: minmax(200px, auto);
	 grid-gap: 20px;
	 width: 100%;
	 min-height: 100vh;
	 padding: 0;
	 margin: 0;
}
 @media (min-width: 800px) {
	 .music__list {
		 grid-template-columns: repeat(2, minmax(250px, 1fr));
	}
}
 @media (min-width: 1200px) {
	 .music__list {
		 grid-template-columns: repeat(3, minmax(250px, 1fr));
	}
}
 @media (min-width: 1600px) {
	 .music__list {
		 grid-template-columns: repeat(4, minmax(250px, 1fr));
	}
}
 .music__list-item {
	 padding: 10px;
	 min-height: 250px;
	 background-size: cover;
	 background-repeat: no-repeat;
	 opacity: 0;
	 transition: opacity 0.4s ease-in;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 flex-direction: column;
	 position: relative;
	 cursor: pointer;
}
 .music__list-item:hover {
	 opacity: 1 !important;
}

.music__list-item #photo {
	background-image: linear-gradient(
    rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("spotifyphotos/photo.JPG")
		);
	opacity:.8;
}

.music__list-item #music {
	background-image: linear-gradient(
    rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("spotifyphotos/music.JPG")
		);
	opacity:.8;
}

.music__list-item #writing {
	background-image: linear-gradient(
    rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("spotifyphotos/writing.JPG")
		);
	opacity:.8;
}

.music__list-item #baseball {
	background-image: linear-gradient(
    rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("spotifyphotos/baseball.JPG")
		);
	opacity:.8;
}

.music__list-item #wrestling {
	background-image: linear-gradient(
    rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("spotifyphotos/wrestling.JPG")
		);
	opacity:.8;
}

.music__list-item #lang {
	background-image: linear-gradient(
    rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("spotifyphotos/lang.JPG")
		);
	opacity:.8;
}

.music__list-item #movie {
	background-image: linear-gradient(
    rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("spotifyphotos/movie.JPG")
		);
	opacity:.8;
}

 .activity {
	 display: none;
	 background-color: var(--activity-bg-color);
	 padding-left: 2rem;
	 padding-top: 2rem;
	 padding-right: 2rem;
}
 .activity h3 {
	 padding-bottom:1rem;
}
 @media (min-width: 1200px) {
	 .activity {
		 display: block;
	}
}
 .footer {
	 position: fixed;
	 display: grid;
	 height: var(--footer-height);
	 grid-template-columns: 150px 1fr auto;
	 bottom: 0;
	 grid-gap: 20px;
	 background: var(--main-bg-color-dark);
	 padding: 0px 20px 100px;
	 width: 100%;
}
 @media (min-width: 800px) {
	 .footer {
		 grid-template-columns: 1fr 1fr 1fr;
	}
}
 .now-playing {
	 display: flex;
}
 .album__image {
	 width: 100px;
	 height: 120px;
	 
}
 .album__musician, .album__title {
	 display: block;
}
 .album__info {
	 padding-left: 15px;
	 align-self: center;
}
 .album__title {
	 color: var(--main-highlight-color);
	 margin-bottom: 5px;
}
 .album__musician {
	 font-size: 13px;
}


i {
	 color: var(--main-font-color);
	 padding: 0 10px;
	 font-size: 15px;
	 cursor: pointer;
	 transition: all 0.3s;
}
i:hover {
	 color: var(--main-link-active-color);
}
 i.fa-play-circle {
	 font-size: 30px;
}

 .play-controls {
	 align-self: center;
	 justify-self: center;
}
 .play-device-controls {
	 align-self: center;
	 justify-self:right;
}

iframe{
	padding-top:10px;
	padding-bottom:10px;
}

#volume-control {
  background: linear-gradient(to right, #b9b5b5 0%, #b9b5b5 50%, #808080 50%, #808080 100%);
  border-radius: 8px;
  height: 5px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

#volume-control::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0px;
  height: 0px;
  border-radius: 15px;
  background-color: #fff;
  overflow: visible;
}

#volume-control:hover {
  background: linear-gradient(to right, #1DB954 0%, #1DB954 50%, #808080 50%, #808080 100%);
  height: 5px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

#volume-control:hover::-webkit-slider-thumb {
   -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #fff;
  overflow: visible;
}

 .song__title {
	 font-size: 18px;
	 color: var(--main-highlight-color);
	 margin-bottom: 8px;
	 text-align:center;
}
 .song__creator {
	 font-size: 12px;
	 text-align:center;
}
 
